Source: slash
Section: web
Priority: extra
Maintainer: Tatsuki Sugiura <sugi@nemui.org>
Build-Depends: debhelper (>= 4.0.0), cdbs, libperl-dev, apache-dev, libapache-mod-perl, libcompress-zlib-perl, libdbix-password-perl, libsoap-lite-perl
Standards-Version: 3.6.2

Package: slash-common
Architecture: any
Depends: perl, perl-modules, libcompress-zlib-perl, libxml-parser-perl, libdbix-password-perl (>= 1.8-5), libnet-perl, libtimedate-perl, libapache-dbilogger-perl, libhtml-parser-perl, libhtml-format-perl, libxml-rss-perl, libimage-size-perl, libemail-valid-perl, libtemplate-perl, libmail-sendmail-perl, libsoap-lite-perl, liblingua-stem-perl, libhtml-template-perl, libmime-types-perl, libparallel-useragent-perl, libhtml-popuptreeselect-perl, libnet-ldap-perl, libjcode-pm-perl, ${shlibs:Depends}, ${misc:Depends}
Description: The code that runs Slashdot - common files
 Slash -- Slashdot Like Automated Storytelling Homepage -- is an architecture
 to put together web sites.  It comes with functionality for posting articles,
 conducting polls, having discussions, and can be extended in innumerable ways.
 Slash uses the combination apache+perl+mysql.

Package: slash-backend
Architecture: any
Depends: adduser, mysql-server-4.1, slash-common, libschedule-cron-perl, ${shlibs:Depends}, ${misc:Depends}
Description: The code that runs Slashdot - Backend server
 Slash -- Slashdot Like Automated Storytelling Homepage -- is an architecture
 to put together web sites.  It comes with functionality for posting articles,
 conducting polls, having discussions, and can be extended in innumerable ways.
 Slash uses the combination apache+perl+mysql.

Package: slash-frontend
Architecture: any
Depends: slash-common, libapache-mod-perl, libapache-request-perl, libgd-graph-perl, apache, ${shlibs:Depends}, ${misc:Depends}
Description: The code that runs Slashdot - Frontend server settings
 Slash -- Slashdot Like Automated Storytelling Homepage -- is an architecture
 to put together web sites.  It comes with functionality for posting articles,
 conducting polls, having discussions, and can be extended in innumerable ways.
 Slash uses the combination apache+perl+mysql.
