body {
	margin: 0;
	padding: 0;
}
div {
	margin: 0;
	padding: 0;
}

a {
	color: #055;
}

a:visited {
	color: #555;
}

blockquote,
.quote {
	border-left: 3px solid #DDD;
	padding-left: 0.3em;
	margin-left: 0.5em;
	display: block;
}

div#logo {
	border-bottom: solid 1px #055;
	height: 25px;
	background: url(http://images.slashdot.jp/m/logo-bg.gif) repeat-x;
}

div#sitename,
div#index,
div#article,
div#comments {
	margin: 0 0.2em;
}

div#footer {
	margin: 0.5em 0.2em;
}

div.story,
div.newcomment {
	margin: 0.5em 0;
}

div#topnav,
div#wrapper,
div#wrapper div#contents,
div#wrapper div#articles,
div#topnav div#logo {
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
}
