a {color: #630}
div#topnav { background: #630 url(//images.slashdot.jp/topnav-bg-yro.png) repeat-x left top; }
  div#topnav div#logo h1 a { background: url(//images.slashdot.jp/logo-yro.png) no-repeat left top; }
div.article div.title,
div.generaltitle div.title,
div.commentTop div.title
{ background: #630 url(//images.slashdot.jp/article-title-bg-yro.png) repeat-x left top; }
  div.article div.title h3,
  div.generaltitle div.title h3,
  div.commentTop div.title h4
  { background: url(//images.slashdot.jp/article-title-left-yro.png) no-repeat left top; }
    div.article div.title span,
    div.article div.title span a { color: #cc6; }
div#links div.block div.content ul li a:hover {background: #630 url(//images.slashdot.jp/link-arrow.gif) no-repeat right center; color: #fff;}
div#links div.block div.content, div#slashboxes div.block div.content { background: #eed url(//images.slashdot.jp/slashbox-bottom-left-yro.png) no-repeat left bottom; }
div#links div.block div.title, 
div#slashboxes div.block div.title,
div#links div.block {
  background: #630 url(//images.slashdot.jp/article-title-bg-yro.png) repeat-x left top;
}
div#links div.block div#links-sections-title{
  background: url(//images.slashdot.jp/block-title-right-yro.png) no-repeat right top;
}
div#slashboxes div.block div.title h4 {
      background: url(//images.slashdot.jp/block-title-right-yro.png) no-repeat right top;
    }

  div#links div.block div.content ul { border-bottom: 1px solid #fff; }
    div#links div.block div.content ul li a { border-top: 1px solid #fff;}

.data_head, .barColor, .tb_col, .thor .commentControlFooter { background: #630; }
.date_head { color: #fff; }
.comment > .oneline .commentTop .title h4 a { color: #630; }
div.commentSub { border-bottom: 1px solid #630; }
//firehose related css begin
.story, .story a  {color: #fff !important;}
.story .date, .story a.skin {color: #ffffff !important;}
#firehose .article div.tagtitleclosed span span, #firehose .article div.tagtitleopen span span, #firehose .firehose .generaltitle h3 a, #firehose div.tags div.tagtitleclosed a, #firehose div.tags div.tagtitleclosed, #firehose div.tags div.tagtitleopen a, #firehose div.tags div.tagtitleopen {color: #630 !important}
div.briefarticle .story div.title h3, div.briefarticle .story div.title, div.article .story div.title h3, div.article .story div.title, .firemenu div.title, .firemenu div.title h3
{ background: #004 url(//images.slashdot.jp/article-title-bg-yro.png) repeat-x left top !important}
.story .generaltitle .title a { color: #fff !important; }
// firehose related css end
