/*
 * slashdotjp.css - override slashdot.org css for slashdot.jp
 */

/* main layout */
body {
	font-size: 98%;
	line-height: 1.3;
	min-width: 750px;
}
div#topnav,
div.copyright {
	margin-left: 13px;
	margin-right: 13px;
}
div#wrapper {
	padding-left: 13px;
	padding-right: 13px;
}
div#user-section {
	margin-bottom: 10px;
	font-size: 82%;
}
div#links {
	margin-right: 10px;
	font-size: 88%;
}
div#links div.block div.content ul * {
	line-height: 1.2;
}
div#message div.content {
	font-size: 82%;
}
div#contents {
	margin-top: 0;
	margin-left: 8.15em;
	padding-left: 10px;
}
div#slashboxes {
	width: 200px;
	margin-left: 12px;
	font-size: 88%;
	overflow: hidden;
}
#wrapper #articles,
#wrapper #indexhead,
#search.aduserbox .generaltitle,
#search.aduserbox .generalbody,
#firehoselist,
#firehose #message,
#firehose #messagearea,
#firehose #itemsreturned,
#firehose .firemenu,
#firehose .paginate,
div#users-blocks {
	margin-right: 212px;
}
div#slashboxes div.block img.map {
	float: right;
}
.map {
	background: transparent;
	padding: 0;
	position: relative;
	text-indent: inherit;
	width: 21px;
}
.edit a {
	float: none;
	margin-top: 0;
	display: inline;
	width: auto;
	text-indent: 0;
	background: url(//images.slashdot.org/sic_edit.png) left no-repeat;
	padding-left: 20px;
}
#topnav #logo h1 a {
	overflow: hidden;
}
div.storylinks ul {
	font-size: 90%;
}
input {
	margin: 3px;
}

div#message div.content div.microad {
	margin: 0.3em 0.7em;
}

div.microad_comment {
	overflow: hidden;
	background: #FFF;
	padding: 0.2em;
	width: 99%;
}

xmp {
	overflow-x: scroll;
	background: #FFF;
	border: solid 1px #055;
	padding: 4px;
	margin: 4px;
}

/* Fix list-style image location */
#slashboxes #slashd ul li,
#slashboxes #future ul li
{
	list-style: url(//images.slashdot.jp/drop.gif);
}

/* Fix slashdot.org <i> impremant */
div.article div.intro i
{
	border-left: none;
	display: inline;
	font-style: italic;
	margin: 0;
	padding: 0;
}

/* Fix blockquote color */
blockquote, .quote
{
	color: #000;
}

/* Fix left menu (#links) bottom image */
div#links {
	background: #eee url(//images.slashdot.jp/slashbox-bottom-left.png) no-repeat left bottom;
}

/* Suppress long URLs/words */
div.commentBody {
	overflow-x: auto;
	work-break: break-all;
}

/* slashdot.jp announce area */
div#slashdotjp-site-announce {
	background: #FFC;
	border: 1px solid #055;
	margin-bottom: 4px;
	padding: 2px;
	font-weight: bold;
	font-size: 82%;
}

/* Fix normal ul */
div.general_contents ul,
div.faq ul,
div#search div.sectiontitle table td ul,
div#polls div.generalbody ul,
div#submit div.generalbody ul,
div#commentBody ul,
div#bookmark ul,
form#createuserform ul {
	margin: 1em 0pt 1em 2em !important;
}

div#bookmark ul.menu {
	margin: 0 !important;
}

/* ads format */
div.article div.bigbanner,
div.adsense_468x60 {
	overflow: hidden;
	width: 99%;
}

/* upper osdnbar */
#osdnbar {
	font-weight: normal;
	font-size: 75%;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	background: #ddd;
	padding: 0 1em;
	margin: 0;
	position: relative;
}
#osdnbar a:visited { color: #000; }
#osdnbar #topsearchbox {
	float: right;
	color: #666;
}
#osdnbar #topsearchbox #topsearchbox-phrase {
	background-color:#fff;
	border:1px #666 solid;
	font-size: 10px;
	color: #000;
}
#osdnbar #topsearchbox #topsearchbox-go {
	background-color: #CCC;
	border: 1px #666 solid;
	font-size: 10px;
	color: #666;
	font-weight:bold;
}
